.aboutContainer{
    display: flex;
    justify-content: space-between;
    text-align: center;
background-color: burlywood;
}
.aboutContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    gap : 30px


}