.navBar{
    display: flex;
    justify-content: space-between;
    background-color:blueviolet;
    color: white;
    height: 60px;
    text-align: center;
    align-items: center;
}

.name{
    margin-left: 50px;
}

.navLinks ul li a{
    text-decoration: none;
    color: white;
    

}
.navLinks ul li{
       list-style: none;
          display: flex;
  gap: 50px;
  margin-right: 50px;
  
}
.active{
    border-bottom: 2px solid black;
    
}