.propertiesUl ul {
  list-style-type: disc;
  padding-left: 20px;
  
}
.propertiesUl ul li{
    color: brown;
    margin: 30px;
}
.propertiesContext{
    display: flex;
    justify-content: space-between;
}
.propertiesUl{
    margin-top: 50px;
}